.nav-link {
  position: relative;
  cursor: pointer;
  
  &:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1.5px;
    background-color: #000;
    animation: scale-in 0.5s forwards;
  }
}

@keyframes scale-in {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}